$main-color: #ff7800;
$secondary-color: #727272;
$thirtiary-color: #7b2979;
$contact-card-color: #d3d8dd;
$black: #0e1111;
$white: #ffffff;

$font-title: 'Poppins', sans-serif;
$font-text: 'PT Sans', sans-serif;
